<script>
export default {
  name: 'modal',
  data() {
    return {
      label: "Hotel Category:",
      stars: [
        {
          id: 1,
          name: "yildizsiz"
        },
        {
          id: 2,
          name: "1*"
        },
        {
          id: 3,
          name: "2*"
        },
        {
          id: 4,
          name: "3*"
        },
        {
          id: 5,
          name: "4*"
        },
        {
          id: 6,
          name: "5*"
        }
      ]}
  },
mounted() {
  this.$root.selectedData = ""
}
}
</script>

<template>
  <div class="m-1">
    <label>{{ label }}</label>
    <b-form-select
        class="form-select form-select-md mb-3"
        v-model=$root.selectedData
        size="lg"
    >
      <b-select-option v-for="(star, index) in stars" :key="index"  :value=star.name>
        {{ star.name }}
      </b-select-option>
    </b-form-select>
  </div>
</template>