<script>
import axios from "axios";
import modal from "@/components/modal";
const URL = 'https://6013b68354044a00172ddc92.mockapi.io/hotels'
export default {
  components: {
    modal
  },
  data() {
    return {
      datas: null,
      formInput: null,
      editForm: "",
      header: "Hotel List",
      idRow: "ID",
      nameRow: "Name",
      categoriesRow: "Hotel Category",
      actionsRow: "Action",
      editButton: "Edit",
      deleteButton: "Delete",
      addButton: "Add a Hotel",
      saveButton: "Save",
      closeButton: "Close",
      label: "Hotel Name:",
      placeholder: "Enter a name",
      editModelTitle: "Edit the Hotel Information",
      createModelTitle: "Add a Hotel"
    };
  },
  mounted() {
    axios.get(URL).then(response => (this.datas = response?.data))
  },
  methods: {
    reloadPage() {
      location.reload()
    },
    async deleteHotel(event) {
      try {
        let targetId = await event.currentTarget.id;
        let response = await axios.delete(`${URL}/${targetId}`)
        console.log(response)
        this.reloadPage()
      } catch (e) {
      console.log(e)
      }
    },
    async addHotel() {
      try {
        let response = await axios.post(URL,
            { name: this.formInput, category: this.$root.selectedData })
        console.log(response)
        this.reloadPage()
      } catch(e) {
        console.log(e)
      }
    },
    async getHotel(event) {
      try {
        this.$root.editId = await event.currentTarget.id;
        let response = await axios.get(`${URL}/${this.$root.editId}`)
        this.editForm = response?.data?.name
        this.$root.selectedData = response?.data?.category
      } catch (e) {
        console.log(e)
      }
    },
    async editHotel() {
      try {
        let response = await axios.put(`${URL}/${this.$root.editId}`,
            { name: this.editForm, category: this.$root.selectedData })
        console.log(response)
        this.reloadPage()
      } catch(e) {
        console.log(e)
      }
    },
  },
};
</script>

<template>
  <div>
    <h1 class="p-3 text-center">{{ header }}</h1>
    <table class="table table-bordered table-hover table-dark table-responsive">
      <thead>
      <tr>
        <th class="col-md-1">{{ idRow }}</th>
        <th class="col-md-5">{{ nameRow }}</th>
        <th class="col-md-2">{{ categoriesRow }}</th>
        <th class="col-md-1">{{ actionsRow }}</th>
      </tr>
      </thead>
      <tbody v-for="(data, index) in datas" :key="index">
      <tr>
        <td>{{ data.id }}</td>
        <td>{{ data.name }}</td>
        <td>{{ data.category }}</td>
        <td>
          <div class="d-flex flex-row justify-content-around">
            <b-button :id=data.id v-b-modal.editModal variant="primary" @click="getHotel($event)"
            >{{ editButton }}
            </b-button>
            <b-button :id=data.id variant="danger" @click="deleteHotel($event)">{{ deleteButton }}</b-button>
          </div>
        </td>
      </tr>
      </tbody>
    </table>

<!--    Edit Modal-->
    <b-modal hide-header-close id="editModal" :title="editModelTitle">
      <label>{{ label }}</label>
      <b-form-input
          id="hotel-name"
          v-model="editForm"
          type="text"
          :placeholder="placeholder"
          required
      ></b-form-input>
      <modal></modal>
      <template #modal-footer="{ cancel }">
        <div class="w-100 d-flex flex-row justify-content-end">
          <b-button
              class="m-1"
              variant="success"
              size="md"
              @click="editHotel()"
          >
            {{ saveButton }}
          </b-button>
          <b-button
              class="m-1"
              variant="danger"
              size="md"
              @click="cancel()"
          >
            {{ closeButton }}
          </b-button>
        </div>
      </template>
    </b-modal>

    <div class="d-grid gap-2">
      <b-button block v-b-modal.createModal variant="primary" type="button">
        <b-icon icon="plus" font-scale="1.2"></b-icon>
        {{ addButton }}
      </b-button>
    </div>

    <!--    Create Modal-->
    <b-modal hide-header-close id="createModal" :title="createModelTitle">
      <label>{{ label }}</label>
      <b-form-input
          id="hotel-name"
          v-model="formInput"
          type="text"
          :placeholder="placeholder"
          required
      ></b-form-input>
        <modal />
      <template #modal-footer="{ ok, cancel }">
        <div class="w-100 d-flex flex-row justify-content-end">
          <b-button
              class="m-1"
              variant="success"
              size="md"
              @click="addHotel()"
          >
            {{ saveButton }}
          </b-button>
          <b-button
              class="m-1"
              variant="danger"
              size="md"
              @click="cancel()"
          >
            {{ closeButton }}
          </b-button>
        </div>
      </template>
    </b-modal>
  </div>
</template>